.colorful{
    background: rgba(255, 83, 241, 0.47) ;
    margin: auto;
    padding: 20px;
    font-family: Lato,"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
}
.test{
    background: #e0e0e0;
}
#editor {overflow:scroll; min-height:300px;max-height:400px}